/* Basislayout */
/*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
*/

html, body {
    height: 100%;
    padding: 0;
    background-color: #07183d;  
    
    color: #bbdddd;
    font: Verdana, Arial, Sans-Serif;
    text-align:center;
/*
    overflow-x:hidden;
    overflow-y:inherit;
     scrollbar-width: none;
     */
}


main {
    /*border: 1px solid black;*/
    margin: 0 auto;
    width: 1000px;
    position: relative;
}


article {
    text-align: center;
}


header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: end;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #223256;
    overflow: hidden;
    border-radius: 40px;
}

nav ul a .active {
    background-color:whitesmoke;
}

nav ul li .right {
    float:right;
}

nav ul li .left {
    float:left; 
}


nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #515d79;
}


/* tabellen */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 20px;
}

.index {
    padding: 0px;
    font-size: 21px;
    font-weight: bold;
    padding: 100px;
}

.table1 {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    float: left;
    margin: 39px;
    width: 420px;
}

.table2 {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    float: right;
    margin: 39px;
    width: 420px;
}

.up {
    background-color:#223256;
    font-size:20px
}


